<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Workout Programs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filter-container">
    <ion-segment (ionChange)="handleTypeChange($event)" value="All">
      <ion-segment-button value="All">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngFor="let type of availableTypes" [value]="type">
        <ion-label>{{ type }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="workout-grid">
    <ion-list>
      <ion-item *ngFor="let workout of displayedWorkouts" [routerLink]="['/workout-detail', workout.uid]" detail="true">
        <ion-thumbnail slot="start">
          <img [src]="workout.coverImage" alt="{{ workout.title }}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ workout.title }}</h2>
          <p>{{ workout.category }} | {{ workout.timeFrame }} min | {{ workout.intensityLevel }}</p>
          <p>{{ workout.summary }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  
  <div class="empty-state" *ngIf="displayedWorkouts.length === 0">
    <ion-icon name="fitness-outline" size="large"></ion-icon>
    <p>No workouts found in this category</p>
  </div>
</ion-content>
