<ion-header class="auth-header">
  <ion-toolbar>
    <ion-title class="logo-title">GetFit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-content">
  <div class="login-container">
    <div class="login-header">
      <h1>Welcome Back!</h1>
      <p>Sign in to continue your fitness journey</p>
    </div>
    
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-list class="form-list">
        <ion-item class="form-input">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-item>
        <div class="error-message" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">
          Email is required
        </div>
        <div class="error-message" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')">
          Please enter a valid email
        </div>

        <ion-item class="form-input">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>
        <div class="error-message" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
          Password is required
        </div>
        <div class="error-message" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('minlength')">
          Password must be at least 6 characters
        </div>
      </ion-list>

      <ion-button expand="block" type="submit" [disabled]="!loginForm.valid" class="login-button">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Login
      </ion-button>
    </form>

    <div class="signup-prompt">
      <p>Don't have an account?</p>
      <ion-button fill="clear" (click)="goToSignup()" class="signup-link">
        Sign Up
      </ion-button>
    </div>
  </div>
</ion-content>