<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/workouts"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ workout?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="workout" class="workout-detail-container">
    <div class="workout-image-container">
      <div class="workout-type-badge">{{ workout.type }}</div>
    </div>

    <div class="workout-info">
      <h1 class="workout-title">{{ workout.title }}</h1>
      <p class="workout-description">{{ workout.description }}</p>
      
      <div class="workout-meta">
        <div class="meta-item">
          <ion-icon name="time-outline"></ion-icon>
          <span>{{ workout.duration }} min</span>
        </div>
        <div class="meta-item">
          <ion-icon name="barbell-outline"></ion-icon>
          <span>{{ workout.exercises.length }} exercises</span>
        </div>
      </div>
    </div>

    <div class="section">
      <h2 class="section-title">Exercises</h2>
      <ion-list>
        <ion-item *ngFor="let exercise of workout.exercises; let i = index" class="exercise-item">
          <div class="exercise-content">
            <div class="exercise-number">{{ i + 1 }}</div>
            <div class="exercise-info">
              <h3 class="exercise-name">{{ exercise.name }}</h3>
              <p class="exercise-description">{{ exercise.description }}</p>
              
              <div class="exercise-meta">
                <div class="meta-item" *ngIf="exercise.duration">
                  <ion-icon name="time-outline"></ion-icon>
                  <span>{{ exercise.duration }} sec</span>
                </div>
                <div class="meta-item" *ngIf="exercise.sets && exercise.reps">
                  <ion-icon name="repeat-outline"></ion-icon>
                  <span>{{ exercise.sets }} sets × {{ exercise.reps }} reps</span>
                </div>
              </div>
              
              <div class="equipment-tags" *ngIf="exercise.equipment && exercise.equipment.length > 0">
                <div class="equipment-tag" *ngFor="let equipment of exercise.equipment">
                  {{ equipment }}
                </div>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    
    <div class="workout-actions">
      <ion-button expand="block" class="complete-button" (click)="markAsCompleted()" 
                  [disabled]="isWorkoutCompleted">
        <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
        {{ isWorkoutCompleted ? 'Workout Completed' : 'Mark as Completed' }}
      </ion-button>
    </div>
  </div>
  
  <div *ngIf="!workout" class="loading-container">
    <ion-spinner></ion-spinner>
    <p>Loading workout details...</p>
  </div>
</ion-content>